<!-- Validation failure messages -->

<% if @lista.errors.any? %>
  <% @lista.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Lista #<%= @lista.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_list/<%= @lista.list_name %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for list_name -->
          <div class="form-group">
            <label for="list_name" class="col-sm-2 control-label">
              Image url
            </label>
            <div class="col-sm-10">
              <input type="text" id="list_name" name="list_name" placeholder="Image url" class="form-control" value="<%= @lista.list_name %>">
            </div>
          </div>

          <!-- Label and input for size -->
          <div class="form-group">
            <label for="size" class="col-sm-2 control-label">
              size
            </label>
            <div class="col-sm-10">
              <textarea id="size" name="size" placeholder="size" class="form-control" rows="3"><%= @lista.size %></textarea>
            </div>
          </div>

          <!-- Label and input for topic -->
          <div class="form-group">
            <label for="topic" class="col-sm-2 control-label">
              topic
            </label>
            <div class="col-sm-10">
              <input type="text" id="topic" name="topic" placeholder="topic" class="form-control" value="<%= @lista.topic %>">
            </div>
          </div>

          <!-- Label and input for content -->
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="<%= @lista.content %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update List
              </button>
              or
              <a href="/lista/<%= @lista.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
